<!DOCTYPE html>
<html ng-app="todo">
<head>
	<title>To Do list</title>
</head>
<body ng-controller = "MainController as ctrl">
<center>
	Task Form<br>
	<input ng-model = "ctrl.newItem">
	<button ng-click="ctrl.addItem()">Add</button><br>
	List
	<table>
		<tr>
			<th>Task Name</th>
			<th>Done?</th>
		</tr>
		<tr ng-repeat="item in ctrl.items">
			<td>{{item.name}}</td>
			<td ng-if="!item.status"><button ng-click="ctrl.taskDone($index)">Done</button></td>
			<td ng-if="item.status">Completed!</td>
			<td ng-click="ctrl.taskRemove($index)">Remove!</td>
		</tr>

		<tr ng-if="ctrl.newItem"><td>{{ctrl.newItem}}</td></tr>
	</table>
<center>

	<script src="angular.min.js" ></script>
	<script src="app.js" ></script>
</body>
</html>
